<pre id="mermid" #mermaid class="mermaid">
  classDiagram
      BankAccount -- Ximbareneuosn
      Catita -- fofinha

      xerecas -- catitas
      carias -- mendoncas

      canelas - debarro
      catitas -- aaa
      aaa -- canhotas
      canhotas -- ferreiras

      class BankAccount
      BankAccount : +String owner
      BankAccount : +Bigdecimal balance
      BankAccount : +deposit(amount)
      BankAccount : +withdrawal(amount)
</pre>


<!--
<pre id="dia" #mermaid class="mermaid" *ngFor="let classe of classes">
  classDiagram
      class {{classe.title}}
      
</pre>
-->

<!-----
  title: Bank example
  ---
  classDiagram
      class BankAccount
      BankAccount : +String owner
      BankAccount : +Bigdecimal balance
      BankAccount : +deposit(amount)
      BankAccount : +withdrawal(amount)
-->
