<form>
    <select class="bg-zinc-700 text-slate-100" name="" id="" [(ngModel)]="leftPartner" [ngModelOptions]="{standalone: true}">
        <option selected value="">Left partner</option>
        <option [class]="class" *ngFor="let class of classes" value="{{class}}">{{class.title}}</option>
    </select> <br>
    
    <select class="bg-zinc-700 text-slate-100" name="" id="" [(ngModel)]="rightPartner" [ngModelOptions]="{standalone: true}">
        <option selected value="">Right partner</option>
        <option [class]="class" *ngFor="let class of classes" value="{{class}}">{{class.title}}</option>
    </select>
    
    <div (click)="create()" class="w-min hover:text-green-600 transition cursor-pointer">Create</div>
</form>