<aside class="bg-zinc-700 border border-zinc-500 w-52 pt-2 h-full">

    <div class="p-1">
        Nereid v0.0
    </div>

    <div>
        Relationships
    </div>

    <app-diagram-relationship-btn [relationship]="relationship" *ngFor="let relationship of relationships"/>
    
    <app-create-relationship-btn />

    <div>
        classes
    </div>
    <!--(click)="ds.deleteClass(class.title)"-->
    <app-diagram-class-btn [class]="class" *ngFor="let class of classes" >
    </app-diagram-class-btn>

    <app-create-class-btn></app-create-class-btn>
</aside>