<div class="m-1 group">
    <div class="flex items-center justify-between">
        <div class="flex items-center font-semibold">
            <div class="text-zinc-400 mr-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-spline"><circle cx="19" cy="5" r="2"/><circle cx="5" cy="19" r="2"/><path d="M5 17A12 12 0 0 1 17 5"/></svg>
            </div>
            Relationship {{relationship.id}}
        </div>
        <div>
            <div class="text-zinc-400 hover:text-red-600 cursor-pointer opacity-0 group-hover:opacity-100 transition">
                <svg hidden xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis"><circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/></svg>
                <svg (click)="remove()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
            </div>
        </div>
    </div>

    
    <div class="hover:text-purple-50 w-[40em] text-nowrap ml-4 text-sm">
        <div class="">
            <span class="relationship-sideword">from</span> {{relationship.leftSymbol}} <span class="relationship-side">{{relationship.leftPartner.title}}</span>
        </div>
        <div class="">
            <span class="relationship-sideword">to</span> {{relationship.rightSymbol}} <span class="relationship-side">{{relationship.rightPartner.title}}</span>
        </div>
    </div>

    
</div>